@use 'variables' as v;
@use 'base/mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: v.$azulGrisClaro;
    font-family: v.$fuentePrincipal;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
}
img {
    max-width: 100%;
    display: block;
}